.head {
  background-color: #EEEBDD;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}

hr {
  border: dotted 5px;
  border-bottom: none;
  width: 4%;
  color: #F9E4C8;
  margin-top: 60px;
  margin-bottom: 60px;
}

h1 {
  margin: 0px;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #A9333A;
  font-size: 3.5rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #A9333A;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #6B4F4F;
  font-weight: normal;
  margin: 0;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 2;
}

body {
  margin: 0px;
  text-align: center;
  color: #40514E;
}

.sun {
  height: 150px;
}

.des {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
  color: #4E9F3D;
  font-size: 1.7em;
  font-weight: light;
  color: #C89595;
}

.palace {
  height: 450px;
  padding-bottom: 50px;
}

.middle-container {
  padding-top: 80px;
}

.bottom-container {
  margin-top: 40px;
  padding-top: 10px;
  background-color: #A9333A;
  margin-bottom: 0;
}

.skills {
  align-items: center;
}

.skillrow {
  padding-top: 50px;
  padding-bottom: 70px;
  width: 50%;
  margin: auto;
  text-align: left;
}
.cad{
  width: 25%;
  float: left;
  padding-right: 40px;
}
.java{
  width: 25%;
  float: right;
  padding-left: 40px;
}
.web{
  width: 25%;
  float:left;
  padding-right: 40px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #A9333A;
}

.footer-link1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.footer-link2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-right: 100px;
margin-left: 100px;
}

.footer-link3 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.copyright {
  color: white;
  padding-bottom: 50px;
}

.firstcloud {
  height: 100px;
  position: absolute;
  right: 200px;
  top: 80px;
}

.secondcloud {
  height: 100px;
  position: absolute;
  left: 150px;
  top: 300px;
}
